<!DOCTYPE html>
<html lang="en">
{% load menu_tags %}


<head style="padding-top: 10%">
    <meta charset="UTF-8">
    <title>
        {% block title %}
            Base Title
        {% endblock %}
    </title>
</head>
<body style="max-width: 1200px; margin: 0 auto; padding-top: 5%">
<div style="overflow: hidden;">
        <div style="float: left; width: 300px;padding-right: 1%">
            <!-- Код или элемент, который должен быть слева -->
            {% draw_menu %}
        </div>
        <div style="margin-left: 210px;">
            <!-- Остальной контент, который должен быть справа -->
            {% block body %}
            {% endblock %}
        </div>
    </div>
</body>
</html>

